@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700;1,900&family=Tilt+Neon&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.input-container {
	 position: relative; 
	margin: 100px;
}

input {
	height: 45px;
	width: 300px;
	padding-left: 45px;
}

svg {
	position: absolute;
	top: calc(50% - 12px);
	left: 10px;
}