@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700;1,900&family=Tilt+Neon&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

#container1 {
	display: inline;
	border: 1px solid blue;
	height: 200px;
	padding: 50px;
	margin: 50px;
	
}

#container2 {
	display: inline;
	border: 1px solid blue;
	height: 200px;
	padding: 50px;
	margin: 50px;
	
}

#container3 {
	display: inline;
	border: 1px solid blue;
	height: 200px;
	padding: 50px;
	margin: 50px;
}

a {
	border: 1px solid blue;
}