@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background: #EBEBEB;
}

* {
	box-sizing: border-box;
}

/* 

CORES
background: #EBEBEB;
cinza claro: #E4E4E4;
cinza inputs: #818181;

*/

.form-container {
	background: white;
	margin: 150px auto;
	width: 400px;
}

form {
	padding: 20px;
}

form h3 {
	text-align: center;
}

form .input-container {
	position: relative;
	margin-bottom: 15px;
}

form .input-container input, input[type="submit"] {
	width: 100%;
	height: 45px;
	border-radius: 20px;
}

form input[type="submit"] {
	border: 0;
	background: red;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
}

form .input-container input::placeholder {
	color: #818181;
}

form .input-container svg {
	position: absolute;
	right: 20px;
	top: calc(50% - 12px);
	color: #818181;
}

.options-container {
	padding: 0 20px;
	margin: 25px auto;
	color: #818181;
}

.options-container .checkbox-container, .options-container a {
	display: inline-block;
	width: 50%;
}